body{background-image: url('DeathNote2.jpg'); background-size: 100% 1000px;}
div { width: 500px; height: 700px; position: absolute; top:0; right:0; bottom:0; left:0; margin: auto;}
td {text-align : center; font-family : Arial; font-weight : 15pt;}
a { color : black;}
h1 { text-align : center;}
